<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CrimeAde to the Resque</title>

	<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">

</head>

<body>

	<!-- Custom Script -->
	<script src=".js" type="text/javascript"></script>

</body>

</html>