<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a href="#">
				<img src="image.png" alt="See something say something img" width="50">
			</a>
		</div>
		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a href="/" class="navbar-item">
					Home
				</a>
				<div class="navbar-item has-dropdown is-hoverable">
				</div>
			</div>
		</div>
		<h1 class="title">
			See Something - Say Something:
		</h1>
	</nav>
</header>
<br>
<div class="row">
	<div class="col-md-4">
		<p><span class ="date" id="datetime"></span></p><script>var dt = new Date();
		document.getElementById("datetime").innerHTML=dt.toLocaleString();</script> 
		<br>
		<br>
		<div class="container1">
			<h2>Reported Locally:</h2>
			<p>List of crimes reported on the app:</p>
			<div class="form-group">
				<ul>
					<form id="crime-input" action="/action_page.php">
                    <br>
                    </form>	
					<br>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<div class="col-md-8">
		<div class="map-header-container">
			<div class="form-group">
				<select class="custom-select" id="category">
					<option selected value="">Select a crime</option>
					<option value="aggravated-assault">aggravated assault</option>
					<option value="all-other-crimes">all other crimes</option>
					<option value="auto-theft">auto theft</option>
					<option value="burglary">burglary</option>
					<option value="drug-alcohol">drug alcohol</option>
					<option value="larceny">larceny</option>
					<option value="other-crimes-against-persons">other crimes against persons</option>
					<option value="public-disorder">public disorder</option>
					<option value="robbery">robbery</option>
					<option value="theft-from-motor-vehicle">theft from motor vehicle</option>
					<option value="traffic-accident">traffic accident</option>
					<option value="white-collar-crime">white collar crime</option>
				</select>
				<button id="crime-search-btn" type="submit">Search</button>
			</div>
		</div> <br>
		<div id="dynamic-container"></div>
		<!-- Map container -->
		<div class="container5">
			<div id="map"></div>
		</div>
		<br>
		<!-- Graph and data container -->
		<div class="data-container">
			{{!-- <div class="row">
				<div class="col-md-12 safety-tips-col">
					<div class="safety-tips-box">
						
					</div>
				</div>
			</div> --}}
		</div>
		<br>
		<div class="map-header-container">
			<p class="map-form-header"><em>Safety Tips</em></p>
			<div class="form-group">
			</div>
		</div> 
		<br>
		<div class="map-header-container">
			<p class="map-form-header"><em>Local Emergency Contact information</em></p>
			<div class="form-group">
			<p class="emergency-info"><em>Denver Health Emergency Department: (303) 436-6000</em>
			<br>
			<em>Denver Police Department: (720) 913-0400</em>
			<br>
			<em>Denver Fire Department: Call 3-1-1</em>
			</p>
			</div>
		</div> 
	</div>
</div>
<footer>
</footer>
<!--text-->
<script src="./js/localMapData.js"></script>