<header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a href="#">
				<img src="../public/images/image.png" alt="See something say something img" width="50">
			</a>
		</div>
		<div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
				<a href="/" class="navbar-item">
					Home
				</a>
				<div class="navbar-item has-dropdown is-hoverable">
				</div>
			</div>
		</div>
		<h1 class="title">
			See Something - Say Something:
		</h1>
	</nav>
</header>
<br>
<div class="row">
	<div class="col-md-4">
		<input type="text" id="######" placeholder="Zip Code">
		<br>
		<br>
		<div class="container1">
			<h2>Report a crime: </h2>
			<div class="form-group">
				<select class="custom-select" id="sidebar-category">
					<option selected value="">Choose a crime</option>
					<option value="aggravated-assault">Aggrevated Assault</option>
					<option value="arson">Arson</option>
					<option value="burglary">Burglary</option>
					<option value="auto-theft">Auto Theft</option>
					<option value="drug-alcohol">Drug or Alcohol</option>
					<option value="larceny">Larceny</option>
					<option value="murder">Murder</option>
					<option value="theft-from-motor-vehicle">Theft from Motor Vehicle</option>
					<option value="sexual-assault">Sexual Assault</option>
					<option value="public-disorder">Public Disorder</option>
					<option value="robbery">Robbery</option>
					<option value="traffic-accident">Traffic Accident</option>
					<option value="white-collar-crime">White Collar Crime</option>
					<option value="other-crimes-against-persons">Other Crimes Against Persons</option>
					<option value="all-other-crimes">All Other Crimes</option>
				</select>
				<hr>
				<ul>
					<form action="/action_page.php">
						<label for="username">User Input:</label>
						<input type="text" id="location" name="username" placeholder="Location" required>
						<input type="text" id="date" name="username" placeholder="Date" required>
						<input type="text" id="description" name="username" placeholder="Description" required>
						<br>
						<input type="submit">
					</form>
					<br>
					<li>
						<form name="" method="" action=""><input type="file"></form>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<br>
	<div class="col-md-8">
		<div class="map-header-container">
			<p class="map-form-header"><em>Choose a crime</em></p>
			<div class="form-group">
				<select class="custom-select" id="category">
					<option selected value="">Select a crime to view stats</option>
					<option value="aggravated-assault">aggravated assault</option>
					<option value="all-other-crimes">all other crimes</option>
					<option value="auto-theft">auto theft</option>
					<option value="burglary">burglary</option>
					<option value="drug-alcohol">drug alcohol</option>
					<option value="larceny">larceny</option>
					<option value="other-crimes-against-persons">other crimes against persons</option>
					<option value="public-disorder">public disorder</option>
					<option value="robbery">robbery</option>
					<option value="theft-from-motor-vehicle">theft from motor vehicle</option>
					<option value="traffic-accident">traffic accident</option>
					<option value="white-collar-crime">white collar crime</option>
				</select>
				<button type="submit">Search</button>
			</div>
		</div> <br>
		<!-- Map container -->
		<div class="container5">
			<div id="map"></div>
		</div>
		<br>
		<!-- Graph and data container -->
		{{!-- <div class="data-container">
			<div class="row">
				<div class="col-md-4 data-col">
					<div class="data-box">
						<h4 class="crime-rate-header">2019 Crime Rates</h4>
						<h5 id="state"></h5>
						<p id="crime"></p>
						<div class="rate-color">
							<p id="rate"></p>
						</div>
						<p id="people"></p>
					</div>
				</div>
				<div class="col-md-8 graph-col">
					<div class="graph-box">
						<div id="chartContainer" style="height: 15rem; width: 100%;"></div>
					</div>
				</div>
			</div>
		</div> --}}
		<br>
	</div>
</div>
<footer>
</footer>

<script src="./js/localMapData.js"></script>