    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="#">
                    <img src="../public/images/image.png" alt="See something say something img" width="50">
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/localdata" class="navbar-item">
                        View Local Data
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                    </div>
                </div>
            </div>
                <h1 class="title">
                    See Something - Say Something
                </h1>
            </nav>
        </header>
        <br>
        <br>
        <div class="col-md-8">
            <div class="container6">
                <div class="row">
                    <div class="col-md-4">
                        <p>Category: </p>
                        <p>Date: </p>
                        <p>Street Address: </p>
                        <p>City: </p>
                        <p>State: </p>
                        <p>ZIP: </p>
                    </div>
                    <div class="col-md-8">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                    </div>
                </div>
                <br>
                <p>Description: </p>
                <textarea></textarea>
            </div>
            <br>
            <br>
        </div>
        <!-- <div class="col-md-8">
            <div class="container6">
                <div class="row"></div>
                <p>Category: <input></p>
                <p>Date: <input></p>
                <p>Street Address: <input></p>
                <p>City: <input></p>
                <p>State: <input></p>
                <p>ZIP: <input></p>
                <br>
                <p>Description: </p>
                <textarea></textarea>
            </div>
            <br>
            <br>
        </div> -->
    </div>
    </div>
