body {
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    margin-bottom: 1rem;
}

.container {
    background-color: #4472C4;
}

header {
    background-color: #4472C4;
    /* margin-left: auto;
    margin-right: auto; */
}

.report-a-crime {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

input {
    resize: horizontal;
    /* width: 200px; */
    width: none;
    width: 100%;
    min-width: 200px;
    margin-left: 5px;
    /* margin-right: 5px; */
    background-color: #A5A5A5;
}

.container1 input {
    width: 97%;
}

.navbar {
    background-color: #4472C4;
}

.navbar-start a {
    color: black;
}

.date {
    border-style: solid;
    border-width: 1px;
    height: 700px;
    padding: 1px 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    background-color: #7F7F7F;
}

span {
    font-weight: bold;
}

.container1 {
    border-style: solid;
    border-width: 1px;
    height: 50rem;
    padding: 1rem;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background-color: #7F7F7F;
}

.aside-col {
    height: 100vh;
}

.container2 {
    border-style: solid;
    border-width: 1px;
    height: 50%;
    padding: 1px 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    background-color: #A5A5A5;
}

.container3 {
    border-style: solid;
    border-width: 1px;
    height: 21.8%;
    padding: 1px 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    background-color: #4472C4;
}

.container4 {
    border-style: solid;
    border-width: 1px;
    height: 75%;
    padding: 1px 2px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    background-color: #A5A5A5;
}

.container6 {
    border-style: solid;
    border-width: 1px;
    height: 80%;
    padding: 1px 2px;
    border-radius: 2px;
    padding: 5em 2em;
    width: 100%;
    background-color: #A5A5A5;
    justify-content: flex-end;
    /* text-align: center; */
}

.col-md-8 .container6 {
    text-align: center;
    margin-bottom: 7px;
}

.col-md-8 .container6 p{
    margin-bottom: 7px;
    font-size: 2.5vw;
}

textarea {
    width: 97%;
    margin-left: 4px;
    height: 300px;
    margin-left: 5px;
    padding: 4px;
}

.container6 input {
    width: 50%;
}

.col-md-4 p {
    text-align: right;
    margin-bottom: 7px;
}

.col-md-8 {
    margin-left: auto;
    margin-right: auto;
    /* padding: 0px 0px; */
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1.title {
    margin: none;
    padding-top: 15px;
    /* padding-right: 750px; */
    background-color: #4472C4;
}

/* ********* Google map, google map header, and chart style HOME PAGE ************ */

.map-header-container,
.data-container {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    background-color: #2F5597;
}

.data-container {
    display: none;
}

.map-form-header,
.safety-tips {
    color: #A5A5A5;
    text-align: center;
    margin-bottom: 0.5rem;
}

.custom-select {
    margin-bottom: 0.5rem;
}

.map-nav {
    background-color: white;
}

#user-guide-container {
    text-align: center;
    margin-top: 1rem;
}

#map {
    height: 100%;
    width: 100%;
}

#chartContainer {
    color: #A5A5A5;
    text-align: center;
}

.data-box,
.graph-box {
    height: 100%;
    background-color: white;
}

.data-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.crime-rate-header {
    font-weight: bolder;
    font-size: 1.4rem;
}

.rate-color {
    padding-right: 7px;
    padding-left: 7px;
}

/* page 2 sidebar */

.user-reported {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.safety-tips,
.emergency-contact {
    font-size: 1.6rem;
    color: rgb(211, 211, 211);
}

.safety-tip-container {
    text-align: center;
}

.safety-tip-container h5 {
    font-size: 1.2rem;
}

.emergency-contact-container {
    text-align: center;
}

.emergency-contact-container div {
    margin-top: 1rem;
}

/* LOCAL MAP STYLES */

.container5,
.map-container {
    border-style: solid;
    border-width: 1px;
    height: 65%;
    padding: 1px 2px;
    border-radius: 2px;
    width: 100%;
    background-color: #A5A5A5;
}

#dynamic-container {
    text-align: center;
    color: #000000;
    font-style: italic;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
    .crime-rate-header {
        font-size: 1.2rem;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    nav {
        text-align: center;
    }

    .aside-col {
        margin-bottom: 1.5rem;
    }

    /* google map */
    #map {
        height: 100%;
    }

    .map-container,
    .container5 {
        height: 50%;
    }
}

/* page2 (local-data hbs) */
@media screen and (max-width: 767px) {
    .col-md-8 .container5 {
        height: 400px;
    }

    .col-md-4 {
        height: 50%;
        margin-bottom: 15px;
    }

    .map-header-container .form-group {
        margin: 0px;
    }

    div .container1 td {
        height: 20px;
    }
    
    .report-btn {
        width: 60px;
        height: 30px;
        padding: 1px 2px;
    }

    .div .container1 {
        text-align: center;
    }

    .container1 h2 {
        text-align: center;
    }

    .container1 .form-group #userList {
        margin-right: auto;
        margin-left: auto;
    }

    tr {
        margin-right: 20px;
        margin-left: 20px;
    }
    
    table tbody {
        margin-right: auto;
        margin-left: auto;
    }

    .row .col-md-8 .map-container {
        height: 400px;
    }
}

@media screen and (max-width: 1101px) {
    div .container1 td {
        height: 20px;
        text-align: center;
    }
    
    .report-btn {
        width: 60px;
        height: 30px;
        padding: 1px 2px;
    }

    .container1 h2 {
        text-align: center;
    }

    .container1 {
        padding: 5px;
    }

}